{% extends "emails/body_base.html" %}

{% block content %}
<p>Bonjour,</p>

<p>
À votre demande, un compte vient de vous être créé :
</p>

<ul>
   {% if user.username  %}<li>Identifiant : {{ user.username }}</li>{% endif %}
  <li>Courriel : {{ user.email }}</li>
  <li>Prénom : {{ user.first_name }}</li>
  <li>Nom : {{ user.last_name }}</li>
</ul>

{% if new_password %}
<p>
Votre mot de passe est : {{ new_password }}
</p>
{% endif %}

{% if portal_user_url %}
{% include "emails/button-link.html" with url=portal_user_url label="Accéder au site" %}
{% endif %}

{% endblock %}
