{% extends "emails/body_base.html" %}

{% block content %}
<p>Bonjour,</p>

<p>
Un administrateur a demandé le changement de votre adresse de
{{ user.email }} en {{ email }}.
</p>

{% if email_is_not_unique %}
<p>
Cependant cette adresse est déjà liée à un autre compte.
</p>

<p>
Vous pouvez récupérer un accès à ce compte en utilisant le bouton suivant :
</p>

{% include "emails/button-link.html" with url=password_reset_url label="Réinitialiser le mot de passe" %}

{% else %}
<p>
Pour valider ce changement veuillez cliquer sur le bouton suivant :
</p>

{% include "emails/button-link.html" with url=link label="Valider l'adresse" %}

<p>
Attention, cette action est uniquement valide pendant {{ token_lifetime }}.
</p>
{% endif %}

{% endblock %}
