$source-sans-pro-font-path: '/static/fonts/SourceSansPro' !default;

@mixin source-sans-pro-font($type, $weight, $style: normal) {
	@font-face {
		font-family: 'Source Sans Pro';
		src: url('#{$source-sans-pro-font-path}/SourceSansPro-#{$type}.otf') format('opentype');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin source-sans-pro-font-pair($type, $weight) {
	@include source-sans-pro-font($type, $weight);
	@include source-sans-pro-font(#{$type}It, $weight, italic);
}

@include source-sans-pro-font-pair('ExtraLight', 200);
@include source-sans-pro-font-pair('Light', 300);
@include source-sans-pro-font-pair('Regular', 400);
@include source-sans-pro-font-pair('Semibold', 600);
@include source-sans-pro-font-pair('Bold', 700);
@include source-sans-pro-font-pair('Black', 900);
