@mixin khand-font($type, $weight) {
	@font-face {
		font-family: 'Khand';
		src: url('/static/fonts/Khand/khand-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/Khand/khand-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include khand-font('light', 300);
@include khand-font('regular', 400);
@include khand-font('medium', 500);
@include khand-font('semibold', 600);
@include khand-font('bold', 700);
