body.has-header-background {
	.site-header {
		background: url(/assets/header:background) top center no-repeat;
		background-size: cover;
	}
}

body header {
  background: $secondary-color;
  min-height: 100px;

  #header {
    padding: 0;
  }

  #logo {
    height: 100px;
    display: flex;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      color: white;
  
      span.subtitle {
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}

h1#logo.has-logo {
	a {
		background: transparent url(/assets/header:logo) center left no-repeat;
		background-size: contain;
		text-indent: -10000px;
		min-width: 160px;
    display: inline-block;
	}
}

nav ul {
  li + li {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}
