$primary-color: #910956 !default;

#toplinks {
	position: absolute;
	top: 0;
	left: auto;
	right: 1em;
	border-radius: 0 0 1em 1em;
	background: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	width: auto;
	padding: 0.7em 2em 0.2em 2em;
	border: 3px solid $primary-color;
	border-width: 0 1px 1px 1px;
	@media screen and (max-width: $mobile-limit) {
		border-right: 0;
		right: 0;
		max-width: 90%;
		text-align: right;
		border-bottom-right-radius: 0;
		padding-right: 0.7em;
		& span.sep {
			display: none;
		}
	}
}

#toplinks span.connected-user {
	padding-right: 0.7em;
	@media screen and (max-width: $mobile-limit) {
		padding-right: 0;
	}
}
