{% load combo %}

{% if not detail_id %}

  <h2>Droits en cours</h2>

  <div class="apa-droits">
    {% for dossier in json.data.demandeAsg %}

      <div class="apa-dossier">
      <h3>{{ dossier.demande.type }} ({{ dossier.demande.nature }})</h3>
      <ul>
        <li>Aide attribuée le {{ dossier.suivi.dateDecision|parse_date|date:"j F Y" }}</li>
        <li>Début des droits : {{ dossier.droit.dateDebut|parse_date|date:"j F Y" }}</li>
        <li>Fin des droits : {{ dossier.droit.dateFin|parse_date|date:"j F Y" }}</li>
      </ul>
      <p><a href="apa-droits/?user_id={{ user_id }}&detail_id={{ forloop.counter }}">
        → consulter le dossier</a></p>
      </div>

    {% empty %}
      <p>Pas de demande en cours</p>
    {% endfor %}

  </div>

{% else %}

  <h2>Détails des droits en cours</h2>

  <div>


  {% with individu=user_info.data.individu %}
  <div class="grid-2-3 individu">
    <h3>{% include "combo/json/apa-user-label.html" with individu=individu %}</h3>
    <p><span class="label">Numéro classothèque :</span> {{ individu.apa.classotheque }}</p>
  </div>
  {% endwith %}

  {% for dossier in json.data.demandeAsg %}
    {% if forloop.counter|floatformat == detail_id %}

      <div class="grid-2-3 dossier">
      <h3>
        Demande {{ dossier.demande.type }} / {{ dossier.demande.nature }}
      </h3>

      <p>
        Votre dossier a été déposé le <b>{{ dossier.complementDossier.dateDepot|parse_date|date:"j F Y" }}</b>
        {% if dossier.complementDossier.dateArrivee %}/ arrivé le {{ dossier.complementDossier.dateArrivee|parse_date|date:"j F Y" }}{% endif %}
      </p>
      <p>
        Votre dossier est complet depuis le <b>{{ dossier.complementDossier.dateDossierComplet|parse_date|date:"j F Y" }}</b>
      </p>

      <p>
        Vos droits sont valables du <b>{{ dossier.droit.dateDebut|parse_date|date:"j F Y" }}</b> au
        <b>{{ dossier.droit.dateFin|parse_date|date:"j F Y" }}</b>
      </p>

      <p>
        Votre taux de participation est de <b>{{ dossier.bilan.pourcentageTM|floatformat:"2" }} %</b>
      </p>

      <p>
        Votre degré de dépendance est le suivant : <b>GIR {{ dossier.gir.gir }}</b>
        {# (évalué le {{ dossier.gir.dateEvaluation|parse_date|date:"j F Y" }} / {{dossier.gir.type}}) #}
      </p>

      <p>
        <b>Décision</b> : Accepté le {{ dossier.suivi.dateDecision|parse_date|date:"j F Y" }}<br />
      </p>
      </div> <!-- grid-2-3 -->

      <div class="grid-1-3 contact">
      {% include "combo/json/apa-contact.html" with individu=user_info.data.individu dossier=dossier %}
      </div>

      <table class="pk-data-table pk-table-headers pk-table-zebra">
        <thead>
          <tr>
            {% for column in columns|default:"periode prestation quantite montant participation versement destinataire"|split %}
              {% if column == "periode" %}<th>Période</th>
              {% elif column == "prestation" %}<th>Prestation</th>
              {% elif column == "quantite" %}<th>Quantité</th>
              {% elif column == "montant" %}<th>Montant accordé</th>
              {% elif column == "participation" %}<th>Participation du bénéficiaire</th>
              {% elif column == "versement" %}<th>Versement</th>
              {% elif column == "mode" %}<th>Mode de règlement</th>
              {% elif column == "destinataire" %}<th>Destinataire du paiement</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for presta in dossier.prestationAccordeeAsg %}
          <tr>
            {% for column in columns|default:"periode prestation quantite montant participation versement destinataire"|split %}
              {% if column == "periode" %}
                <td>
                  {% if presta.periode.dateEffet %}{% if presta.periode.dateFin %}du {%endif %}{{ presta.periode.dateEffet|parse_date|date:"j/n/Y" }}{% endif %}
                  {% if presta.periode.dateFin %}{% if not presta.periode.dateEffet %}jusqu'{% endif %}au {{ presta.periode.dateFin|parse_date|date:"j/n/Y" }}{% endif %}
                </td>
              {% elif column == "prestation" %}
                <td nowrap>{{ presta.prestation }}{% if presta.tiers.type %}<br/>({{ presta.tiers.type }}){% endif %}</td>
              {% elif column == "quantite" %}
                <td>{{ presta.quantite|default:"non renseigné" }}</td>
              {% elif column == "montant" %}
                <td>{{ presta.montant.accorde|default:"0"|floatformat:2 }} €</td>
              {% elif column == "participation" %}
                <td>{{ presta.montant.participation|default:"0"|floatformat:2 }} €</td>
              {% elif column == "versement" %}
                <td>{{ presta.montant.verse|default:"0"|floatformat:2 }} €</td>
              {% elif column == "mode" %}
                <td>{{ presta.attributaire.tiersComptable.modeReglement|default:"non renseigné" }}</td>
              {% elif column == "destinataire" %}
                <td>{{ presta.attributaire.identite|default:"non renseigné" }}
                    {% if presta.attributaire.type %}({{ presta.attributaire.type }}){% endif %}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}
  {% endfor %}
  </div>

{% endif %}
