# WARNING: this file is NOT a shell script but a config file
# Then quotes are part of the value for docker-compose
# e.g.: MYVAR="aaa" will give "aaa" (with the quotes) and not aaa

#############################################
# VARIABLES BELOW MUST HAVE A NON-EMPTY VALUE
#############################################

POSTGRES_PASSWORD=

DB_AUTHENTIC_PASS=
DB_COMBO_PASS=
DB_FARGO_PASS=
DB_HOBO_PASS=
DB_PASSERELLE_PASS=
DB_WCS_PASS=

RABBITMQ_DEFAULT_PASS=

SUPERUSER_PASS=

SMTP_PASS=
