{% extends "emails/body_base.html" %}

{% block content %}
<p>Bonjour,</p>

<p>
Vous avez oublié votre mot de passe ?
</p>

<p>
Pour le réinitialiser, veuillez cliquer sur le bouton suivant :
</p>

{% include "emails/button-link.html" with url=reset_url label="Réinitialiser le mot de passe" %}

<p>
Si vous n'êtes pas à l'origine de cette demande, vous pouvez l'ignorer.
</p>

<p>
{% if expiration_days == 1 %}
Attention, sans validation de votre part dans les 24 heures,
votre demande sera annulée.
{% else %}
Attention, sans validation de votre part dans les {{expiration_days}} jours,
votre demande sera annulée.
{% endif %}
</p>
{% endblock %}
