{% extends "emails/body_base.html" %}
{% block content %}
<p>Bonjour {{ user.get_full_name }},</p>

<p>
Votre compte a été créé : bienvenue ! Pour vous connecter, utilisez les
informations suivantes :
</p>

<ul>
  <li>{% if user.email %}Courriel : {{ user.email }}{% else %}Identifiant : {{ user.username }}{% endif %}</li>
{% if user.has_usable_password %}
  <li>Mot de passe : celui que vous venez de choisir lors de l'inscription.</li>
{% endif %}
</ul>

{% include "emails/button-link.html" with url=login_url label="Me connecter maintenant" %}
{% endblock %}
