{% load gadjo staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <script src="{% xstatic 'jquery' 'jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "fargo/css/style.css" %}" />
    {% if css_variant %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "" %}{{css_variant}}/style.css?{% start_timestamp %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "style.css" %}?{% start_timestamp %}">
    {% endif %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body {% block bodyargs %}class="{% block bodyclasses %}{% endblock %}" {% block bodyattrs %}{% endblock %}{% endblock %}>
    {% block content %}
    {% endblock %}
  </body>
</html>
