{% extends "gadjo/root.html" %}
{% load gadjo %}

{% block site-header %}
  <h1 class="breadcrumbs">{% block breadcrumb %}{% endblock %}</h1>
{% endblock %}

{% block user-name %}<a href="{{ idp_url }}manage/me/">{{ block.super }}</a>{% endblock %}

{% block more-user-links %}
{% endblock %}

{% block extrascripts %}
{% if manager_homepage_url %}
<script src="{{manager_homepage_url}}__services.js"></script>
<script src="{{manager_homepage_url}}static/portal-agent/js/publik.js?{% start_timestamp %}"></script>
{% endif %}
{% endblock %}

{% block sidepage %}
<div id="sidepage">
  <span id="applabel">Publik</span>
</div>
{% endblock %}
