@font-face {
        font-family: 'YanoneKaffeesatz';
        font-style: normal;
        font-weight: normal;
        src: url('/static/fonts/YanoneKaffeesatz-Regular.otf');
        src: url('/static/fonts/YanoneKaffeesatz-Regular.otf') format('opentype');
}

@font-face {
        font-family: 'YanoneKaffeesatzBold';
        font-style: normal;
        font-weight: bold;
        src: url('/static/fonts/YanoneKaffeesatz-Bold.otf');
        src: url('/static/fonts/YanoneKaffeesatz-Bold.otf') format('opentype');
}
