$roboto-condensed-font-path: '/static/fonts/RobotoCondensed' !default;

@mixin roboto-condensed-font($type, $weight, $style: normal) {
	@font-face {
		font-family: 'Roboto Condensed';
		src: url('#{$roboto-condensed-font-path}/Roboto-Condensed-#{$type}.woff2') format('woff2'),
		     url('#{$roboto-condensed-font-path}/Roboto-Condensed-#{$type}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}

	@font-face {
		font-family: 'Roboto Condensed #{$type}';
		src: url('#{$roboto-condensed-font-path}/Roboto-Condensed-#{$type}.woff2') format('woff2'),
		     url('#{$roboto-condensed-font-path}/Roboto-Condensed-#{$type}.woff') format('woff');
	}
}

@mixin roboto-condensed-font-pair($type, $weight) {
	@include roboto-condensed-font($type, $weight);
	@include roboto-condensed-font(#{$type}Italic, $weight, italic);
}


@include roboto-condensed-font-pair('Light', 300);
@include roboto-condensed-font-pair('Regular', 400);
@include roboto-condensed-font-pair('Bold', 700);
