@mixin catamaran-font($type, $weight) {
	@font-face {
		font-family: 'Catamaran';
		src: url('/static/fonts/Catamaran/catamaran-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/Catamaran/catamaran-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include catamaran-font('thin', 100);
@include catamaran-font('extralight', 200);
@include catamaran-font('light', 300);
@include catamaran-font('regular', 400);
@include catamaran-font('medium', 500);
@include catamaran-font('semibold', 600);
@include catamaran-font('bold', 700);
@include catamaran-font('extrabold', 800);
@include catamaran-font('black', 900);
