$cantarell-font-path: '/static/fonts/Cantarell' !default;

@mixin cantarell-font($type, $weight, $style: normal) {
    @font-face {
        font-family: 'Cantarell';
        src: url('#{$cantarell-font-path}/Cantarell-#{$type}-webfont.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

@include cantarell-font('Regular', 400);
@include cantarell-font('Oblique', 400, italic);
@include cantarell-font('Bold', 700);
@include cantarell-font('BoldOblique', 700, italic);
