$border-radius: 3px !default;
$font-color: #333 !default;
$font-family: sans-serif !default;
$font-size: 100% !default;
$link-color: #028 !default;
$body-background: white !default;

html, body {
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	background: $body-background;
}

body {
	scroll-behavior: smooth;
}

a {
	color: $link-color;
	text-decoration: none;
}

a > img {
	border: none;
}
