$title-background: white !default;
$title-color: black !default;
$title-font-style: normal !default;
$title-font-size: $font-size * 1.1 !default;
$title-weight: normal !default;
$title-transform: none !default;
$title-border-radius: $border-radius !default;
$title-font-family: $font-family !default;
$title-border-bottom: 0 !default;
$title-border-top: 0 !default;
$title-padding: 0.7rem 1rem !default;

%title {
	position: relative;
	text-transform: $title-transform;
	background: $title-background;
	color: $title-color;
	box-sizing: border-box;
	padding: $title-padding;
	border-radius: $title-border-radius;
	margin: 0;
	text-decoration: none;
	font-weight: $title-weight;
	font-size: $title-font-size;
	font-family: $title-font-family;
	font-style: $title-font-style;
	border-bottom: $title-border-bottom;
	border-top: $title-border-top;
}
