$white: #ffffff !default;
$black: #000000 !default;

@font-face {
	font-family: 'FontAwesome';
	src: url('/static/xstatic/fonts/fontawesome-webfont.eot');
	src: url('/static/xstatic/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/static/xstatic/fonts/fontawesome-webfont.woff') format('woff'), url('/static/xstatic/fonts/fontawesome-webfont.ttf') format('truetype'), url('/static/xstatic/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
		#{$vendor}#{$name}: #{$value};
	}
}

@function text-color($color) {
	@if (lightness($color) > 50) {
		@return $black;
	} @else {
		@return $white;
	}
}

@function extract-color($border){
	@each $part in $border { @if type-of($part) == color { @return $part; } }
	@return transparent;
}

@function extract-width($border){
	@each $part in $border { 
		@if type-of($part) == number { @return $part; } }
	@return 0;
}
