<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
  <tr>
    <td style="padding: 20px 0 {% if email_header_img or email_header_asset %}5px 0{% endif %}; text-align: center; font-family: sans-serif;">
      <span style="font-size: 15px; line-height: 20px;">
        {% if email_header_img or email_header_asset %}<img style="max-width: {% firstof email_header_width "80%" %}" alt="{% firstof global_title "Compte Citoyen" %}" src="{{portal_url}}{% if email_header_img %}static/{{css_variant}}/{{ email_header_img }}{% else %}assets/emails:logo{% endif %}"/>
        {% else %}
        {% firstof global_title "Compte Citoyen" %}
        {% endif %}
      </span>
    </td>
  </tr>
</table>
