@mixin opensans-condensed-font($type, $weight, $style: normal) {
    @font-face {
        font-family: 'Open Sans Condensed';
        src: url('/static/fonts/OpenSansCondensed/OpenSans-Cond#{$type}-webfont.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

@include opensans-condensed-font('Light', 300);
@include opensans-condensed-font('LightItalic', 300, 'italic');
@include opensans-condensed-font('Bold', 700);
