$droidsans-font-path: '/static/fonts/droidsans' !default;

@mixin droidsans-font($type, $weight) {
	@font-face {
		font-family: 'Droid Sans';
		src: url('/static/fonts/DroidSans/droidsans-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/DroidSans/droidsans-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include droidsans-font('regular', 400);
@include droidsans-font('bold', 700);
