{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block title %}
{% trans "Resetting password" %}
{% endblock %}

{% block content %}
<div class="password-reset-form">

<p>
Si vous avez égaré votre mot de passe et que vous souhaitez pouvoir vous
connecter à nouveau indiquez votre adresse électronique. Vous recevrez un
courriel vous permettant de définir un nouveau mot de passe.
</p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="submit-button">{% trans 'Submit' %}</button>
</form>

</div>
{% endblock %}
