$primary-color: #444444;
$secondary-color: #0e6ba4;

$width: 1240px;
$font-size: 15px;
$font-family: Roboto, sans-serif;
$nav-background: $secondary-color;
$nav-color: white;
$nav-active-color: $nav-background;
$nav-item-hover-background: darken($nav-background, 10%);
$nav-mobile-menu-item-hover-background: $nav-background;
$nav-mobile-menu-item-hover-color: white;
$border-radius: 0;
$button-background: $nav-background;
$title-background: $secondary-color;
$title-color: white;
$cell-entry-hover-effect: left-to-right;
$category-toggled-background: $secondary-color;
$category-toggled-link-hover-color: #444444;
$dashboard-selected-color: $primary-color;

$wcs-steps-spacing: 0.7rem;
$wcs-step-border-bottom: none;
$wcs-step-background:#e6e6e6;
$wcs-step-current-color: $secondary-color;
$wcs-step-marker-color: #aaa;
$wcs-step-current-marker-background: $secondary-color;
$wcs-step-current-marker-color: white;

$footer-background: #FFF;
$footer-color: black;
