// apa-users cell
div.apa-user {
	position: relative;
	h3 {
		margin-top: 0;
	}
	a.apa-user-link {
		display: block;
		color: $font-color;
		background: white;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 20px;
		padding-right: 40px;
		transition: background 0.2s linear;
		&:hover {
			background-color: #eee;
		}
	}
	a.remove {
		display: none;
		position: absolute;
		right: 20px;
		top: 5px;
		width: 2em;
		text-align: center;
		height: 2em;
		&:hover {
			color: red ;
		}
		font-weight: bold;
	}
	a.remove:hover,
	a.apa-user-link:hover + a.remove {
		display: block;
	}
}

// apa-user-info cell
div.apa-user-info {
	h3, p {
		margin-left: 0;
	}
	p.date-situation {
		margin-top: 0;
	}
	p.address span.label {
		display: block;
	}
	div.tutelles {
		margin-top: 1rem;
	}
}

// apa-historique, apa-instruction & apa-droits cells
div.apa-historique,
div.apa-instruction,
div.apa-droits {
	div.apa-dossier {
		p, h3 {
			margin: 0;
		}
		h3 {
			margin-bottom: 0.7em;
		}
		a {
			display: block;
			padding: 0.7em;
			&:hover {
				background-color: #eee;
			}
		}
		margin-bottom: 1.5em;
		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0.25rem 0;
		}
		strong {
			color: red;
		}
	}
	div.individu {
		p span.label {
			font-weight: bold;
		}
	}
}
