@mixin exo2-font($type, $weight) {
	@font-face {
		font-family: 'Exo 2';
		src: url('/static/fonts/Exo2/exo2-#{$type}-webfont.woff2') format('woff2'),
			 url('/static/fonts/Exo2/exo2-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
	@font-face {
		font-family: 'Exo 2';
		src: url('/static/fonts/Exo2/exo2-#{$type}italic-webfont.woff2') format('woff2'),
			 url('/static/fonts/Exo2/exo2-#{$type}italic-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: italic;
	}
}

@include exo2-font('thin', 100);
@include exo2-font('extralight', 200);
@include exo2-font('light', 300);
@include exo2-font('regular', 400);
@include exo2-font('medium', 500);
@include exo2-font('semibold', 600);
@include exo2-font('bold', 700);
@include exo2-font('extrabold', 800);
@include exo2-font('black', 900);
