$oswald-font-path: '/static/fonts/Oswald' !default;

@mixin oswald-font($type, $weight) {
	@font-face {
		font-family: 'Oswald';
		src: url('#{$oswald-font-path}/oswald-#{$type}-webfont.woff2') format('woff2'),
		     url('#{$oswald-font-path}/oswald-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include oswald-font('light', 300);
@include oswald-font('regular', 400);
@include oswald-font('medium', 500);
@include oswald-font('semibold', 600);
@include oswald-font('bold', 700);
