@mixin poppins-font($type, $weight, $style) {
	@font-face {
		font-family: 'Poppins';
		src: url('/static/fonts/Poppins/poppins-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/Poppins/poppins-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin poppins-font-pair($type, $weight) {
	@include poppins-font($type, $weight, normal);
	@include poppins-font('#{$type}italic', $weight, italic);
}

@include poppins-font-pair('thin', 100);
@include poppins-font-pair('extralight', 200);
@include poppins-font-pair('light', 300);
@include poppins-font-pair('regular', 400);
@include poppins-font-pair('medium', 500);
@include poppins-font-pair('semibold', 600);
@include poppins-font-pair('bold', 700);
@include poppins-font-pair('extrabold', 800);
@include poppins-font-pair('black', 900);
