@mixin robotoslab-font($type, $weight) {
	@font-face {
		font-family: 'Roboto Slab';
		src: url('/static/fonts/RobotoSlab/robotoslab-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/RobotoSlab/robotoslab-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include robotoslab-font('thin', 200);
@include robotoslab-font('light', 300);
@include robotoslab-font('regular', 400);
@include robotoslab-font('bold', 700);
