$asap-font-path: '/static/fonts/asap' !default;

@mixin asap-font($type, $weight) {
	@font-face {
		font-family: 'Asap';
		src: url('#{$asap-font-path}/Asap-#{$type}.otf') format('opentype');
		font-weight: $weight;
		font-style: normal;
	}
	@font-face {
		font-family: 'Asap';
		src: url('#{$asap-font-path}/Asap-#{$type}Italic.otf') format('opentype');
		font-weight: $weight;
		font-style: italic;
	}

}

@include asap-font('Regular', 400);
@include asap-font('Medium', 500);
@include asap-font('Bold', 700);
