@mixin worksans-font($type, $weight) {
	@font-face {
		font-family: 'Work Sans';
		src: url('/static/fonts/WorkSans/worksans-#{$type}-webfont.woff2') format('woff2'),
		     url('/static/fonts/WorkSans/worksans-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
	@font-face {
		font-family: 'Work Sans';
		src: url('/static/fonts/WorkSans/worksans-#{$type}italic-webfont.woff2') format('woff2'),
		     url('/static/fonts/WorkSans/worksans-#{$type}italic-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: italic;
	}
}

@include worksans-font('thin', 100);
@include worksans-font('extralight', 200);
@include worksans-font('light', 300);
@include worksans-font('regular', 400);
@include worksans-font('medium', 500);
@include worksans-font('semibold', 600);
@include worksans-font('bold', 700);
@include worksans-font('extrabold', 800);
@include worksans-font('black', 900);
