$carme-font-path: '/static/fonts/Carme' !default;

@mixin carme-font($type, $weight) {
	@font-face {
		font-family: 'Carme';
		src: url('#{$carme-font-path}/carme-#{$type}-webfont.woff2') format('woff2'),
		     url('#{$carme-font-path}/carme-#{$type}-webfont.woff') format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

@include carme-font('regular', 400);
