server {
  listen 80;
  listen [::]:80;

  server_name pgadmin${ENV}.${DOMAIN};

  # On interdit les dotfiles
  location ~ /\. { deny all; }

  location / {
    proxy_pass http://pgadmin:${PGADMIN_PORT};
  }
}
