<header id="steps" class="wcs-steps steps-{{page_labels|length}}">
<ol class="wcs-steps--list">
{% for page_label in page_labels %}
{% spaceless %}
<li {% if forloop.counter != current_page_no %}aria-hidden="true"{% endif %}
	class="wcs-step
           {% if forloop.first %}first{% endif %}
           {% if forloop.last %}last{% endif %}
           {% if forloop.counter == current_page_no %}current{% endif %}
           {% if forloop.counter < current_page_no %}step-before{% endif %}
           {% if forloop.counter > current_page_no %}step-after{% endif %}" >
	<abbr 
		{% if forloop.counter == current_page_no %}
			aria-label="Étape {{ forloop.counter }} sur {{ page_labels|length }}:"
			title="Étape {{ forloop.counter }} sur {{ page_labels|length }}"
		{% endif %}
			class="marker wcs-step--marker">
		<span class="wcs-step--marker-nb">
			{{ forloop.counter }}			
		</span>
		<span class="wcs-step--marker-total">
			{{ page_labels|length }}
		</span>
	</abbr>
	<span class="label wcs-step--label">{{ page_label }}</span>
</li>
{% endspaceless %}
{% endfor %}
</ol>
</header>
