{% extends "authentic2/base-page.html" %}
{% load i18n %}

{% block title %}
{% trans "Registration" %}
{% endblock %}

{% block extra-body-class %}{{ block.super }} registration-page{% endblock %}

{% block placeholder-content %}

{% block registration-pre %}{% endblock %}
<div id="registration-blocks" class="methods{{frontends.items|length}}">
{% block registration-top %}{% endblock %}

{% block registration-email %}
<div id="frontend-registration-email" class="a2-block">
<h2>{% trans "Registration" %}</h2>

<p>
Après validation de votre adresse électronique, il vous sera envoyé un courriel
pour ouvrir votre compte.
</p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button class="submit-button">{% trans 'Submit' %}</button>
</form>
</div>
{% endblock %}

{% block registration-other-methods %}
{% for id, block in frontends.items %}
  {% if id != "password" %}
  <div id="frontend-registration-{{ id }}" class="a2-block">
    <h2>{{ block.name }}</h2>

    <div>
      {{ block.content|safe }}
    </div>
  </div>
  {% endif %}
{% endfor %}
{% endblock %}

{% block registration-bottom %}{% endblock %}
</div> <!-- #registration-blocks -->
{% block registration-post %}{% endblock %}

{% endblock %}
