{% load combo %}

{% if not detail_id %} {# list #}

  <h2>Dossiers en cours d'instruction</h2>

  <div class="apa-instruction">
    {% for dossier in json.data.demandeAsg %}

      <div class="apa-dossier">
      <h3>{{ dossier.demande.type }} ({{ dossier.demande.nature }})</h3>
      <ul>
        {% if dossier.complementDossier.dateArrivee %}
          <li>Date d'arrivée : {{ dossier.complementDossier.dateArrivee|parse_date|date:"j F Y" }}</li>
        {% endif %}
        {% if dossier.complementDossier.dateDossierComplet %}
          <li>Date de dossier complet : {{ dossier.complementDossier.dateDossierComplet|parse_date|date:"j F Y" }}</li>
        {% endif %}

        {% if dossier.visite.date %}
          <li><strong>
            Visite le {{ dossier.visite.date|parse_date|date:"j F Y" }} à {{ dossier.visite.heure|strptime:"%H%M"|date:"H:i" }}
          </strong></li>
        {% endif %}

        <li>Décision : {{ dossier.suivi.decision }}
        {% if dossier.suivi.date %}
          (le {{ dossier.suivi.decision|parse_date|date:"j F Y" }})
        {% endif %}
        </li>

        {% if dossier.droit.dateDebut %}
        <li>Début des droits : {{ dossier.droit.dateDebut|parse_date|date:"j F Y" }}</li>
        {% endif %}
        {% if dossier.droit.dateFin %}
        <li>Fin des droits : {{ dossier.droit.dateFin|parse_date|date:"j F Y" }}</li>
        {% endif %}
      </ul>
      <p>
        <a href="apa-instruction/?user_id={{ user_id }}&detail_id={{ forloop.counter }}">
        → consulter le dossier</a>
      </p>
      </div>

    {% empty %}
      <p>Pas de demande en cours</p>
    {% endfor %}

  </div>

{% else %} {# details #}

  <h2>Dossier en cours d'instruction</h2>

  <div>

  {% with individu=user_info.data.individu %}
  <div class="grid-2-3 individu">
    <h3>{% include "combo/json/apa-user-label.html" with individu=individu %}</h3>
    <p><span class="label">Numéro classothèque :</span> {{ individu.apa.classotheque }}</p>
  </div>
  {% endwith %}

  {% for dossier in json.data.demandeAsg %}
    {% if forloop.counter|floatformat == detail_id %}
      <div class="grid-2-3 dossier">
      <h3>
        Demande {{ dossier.demande.type }} / {{ dossier.demande.nature }}
      </h3>

        <p>
          <strong>Dépôt :</strong> votre demande a été déposée le
          {% if dossier.complementDossier.dateArrivee %}
            {{ dossier.complementDossier.dateArrivee|parse_date|date:"j F Y" }}
          {% else %}
          <em>date inconnue</em>
          {% endif %}
        </p>

        <p>
          <strong>Instruction en cours</strong>
        </p>

      {% if dossier.complementDossier.dateDossierComplet %}
        {% with date=dossier.complementDossier.dateDossierComplet|parse_date|date:"j F Y" visite=dossier.visite.date %}
        <p>
          {% if not visite %}
            <font color="green"><strong>Dossier complet</strong></font> le {{ date }}<br/>
            Après analyse, votre dossier a été déclaré complet le {{ date }}
          {% else %}
            <strong>Dossier complet</strong> le {{ date }}<br/>
          {% endif %}
        </p>
        {% endwith %}
      {% endif %}

      {% if dossier.visite.date %}
        {% with date=dossier.visite.date|parse_date|date:"j F Y" %}
          <p>
          <font color="green"><strong>Visite programmée</strong></font> le {{ date }}<br />
          Une visite à votre domicile est programmée le {{ date }} à
          {{ dossier.visite.heure|strptime:"%H%M"|date:"H:i" }}
          </p>
      {% endwith %}
      {% endif %}

      </div> <!-- grid-2-3 -->

      <div class="grid-1-3 contact">
      {% with individu=user_info.data.individu %}
        {% include "combo/json/apa-contact.html" with individu=individu dossier=dossier %}
      {% endwith %}
      </div>

    {% endif %}
  {% empty %}
  <p>Pas de demande en cours</p>
  {% endfor %}
  </div>

{% endif %}
