{% extends "authentic2/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra-body-class %}{{ block.super }} login-page{% endblock %}

{% block bodyargs %}
{% endblock %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

{% block login-pre %}{% endblock %}
<div id="login-page" class="methods{% firstof visible_blocks_count blocks|length %}">
{% block login-top %}{% endblock %}

{% block login-blocks %}
{% for id, login_block in blocks.iteritems %}
<div class="block block-{{login_block.authenticator.id}} block-{{id}}">
{% if blocks|length == 1 %}
<h2>Connexion</h2>
{% endif %}
<div {% if login_block.is_hidden %}style="display: none"{% endif %}{% if login_block.extra_css_class %} class="{{ login_block.extra_css_class }}"{% endif %}>
{{ login_block.content|safe }}
</div>
</div>
{% endfor %}
{% endblock %}

{% block login-bottom %}<br class="clear"/>{% endblock %}
</div>
{% block login-post %}{% endblock %}

{% endblock %}
