<!DOCTYPE html>
{% load gadjo i18n static %}
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %} {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="UTF-8"><!-- 🔥 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% firstof global_title site_title "Compte Citoyen" %} {% block title %}{% endblock %}</title>
    {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}" />
    {% elif environment_label %}
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex" />
    {% endif %}
    {% if meta_description %}
    <meta name="description" content="{{ meta_description }}" />
    {% endif %}
    {% if meta_keywords %}
    <meta name="keywords" content="{{ meta_keywords }}" />
    {% endif %}
    {% block meta_icons %}{% endblock %}
    {% if theme_color %}
    <meta name="theme-color" content="{{theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{theme_color}}">
    {% endif %}
    <meta name="apple-mobile-web-app-title" content="{{ pwa_settings.get_application_name }}">
    <link rel="manifest" href="{{site_base}}/manifest.json">
    {% if pwa_display == "standalone" %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% endif %}
    {% block extra_top_head %}
    {% endblock %}
    {{ media }}
    {% if css_variant %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "" %}{{css_variant}}/style.css?{% start_timestamp %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{site_base}}{% static "style.css" %}?{% start_timestamp %}">
    {% endif %}
    {% block extra_css %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}
  </head>
  <body {% block bodyargs %}class="{% block bodyclasses %}{% endblock %}" {% block bodyattrs %}{% endblock %}{% endblock %}>
   <div id="nav-skip">
    <div>
     <a href="#main-content">Aller au contenu</a>
     <a href="#nav">Aller au menu</a>
    </div>
   </div>

   <div id="page" {% block page-args %}{% endblock %}>
    <header role="banner" class="site-header">
    <div id="header-wrapper" >
    {% block header-pre %}{% endblock %}
    <div id="header">
     {% block header-top %}{% endblock %}
     <div id="top">
       {% block header-title %}
       <h1 id="logo"><a accesskey="1" href="{% firstof logo_link_url portal_url '/' %}">{% firstof global_title site_title "Compte Citoyen" %}</a></h1>
       {% endblock %}
       {% if include_top_links != False %}
        <div id="toplinks">
          {% block user-info %}
          {% if user.is_authenticated %}
          <span class="logged-in">
            <span class="connected-user">{{user.first_name}} {{user.last_name}}</span>
            <a class="logout" href="{% url 'auth_logout' %}">D&eacute;connexion</a>
          </span>
          {% endif %}
          {% endblock %}
        </div> <!-- toplinks -->
        {% endif %}
     </div>
     {% block header-bottom %}{% endblock %}
    </div> <!-- header -->
    {% block header-post %}{% endblock %}
    </div> <!-- header-wrapper -->
    </header>

{% block nav %}
<nav role="navigation">
<div id="nav-wrapper" class="gru-nav-wrapper">
{% block nav-pre %}{% endblock %}
<div id="nav" class="gru-nav togglable">
{% block nav-top %}{% endblock %}
  <button id="nav-button" class="gru-nav-button togglable" aria-label="Menu">
    <span class="sr-only">Ouvrir le menu</span>
    <span class="icon-bar icon-bar-1"></span>
    <span class="icon-bar icon-bar-2"></span>
    <span class="icon-bar icon-bar-3"></span>
  </button>
{% block menu %}
  <ul>
    <li class="link-accueil"><a href="{{combo_url}}">Accueil</a></li>
    <li class="link-demarches"><a href="{{wcs_url}}/login">Démarches</a></li>
    <li class="link-profil"><a href="{{authentic_url}}/accounts/">Profil</a></li>
    <li class="link-aide"><a href="{{help_url}}">Aide</a></li>
  </ul>
{% endblock %}
{% block nav-bottom %}{% endblock %}
</div> <!-- nav -->
{% block nav-post %}{% endblock %}
</div> <!-- nav-wrapper -->
</nav>
{% endblock %}

  {% block before-main-content %}
  {% endblock %}

  <main role="main">
  <div id="main-content-wrapper">
    <div id="main-content">

{% block content-messages %}
{% block messages %}
{% if messages %}
  <div id="messages" class="messages-login">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock %}
{% endblock %}

    {% block content-pre %}{% endblock %}
    <div id="content" class="gru-content large">
            {% block content-top %}{% endblock %}
            {% block content %}
            {% endblock %}
            {% block content-bottom %}{% endblock %}
    </div> <!-- #content -->
    {% block content-post %}{% endblock %}

    </div> <!-- #main-content -->
    </div> <!-- #main-content-wrapper -->
   </main>

   <footer role="contentinfo">
    {% block footer-top %}{% endblock %}
    <div id="footer-wrapper">
    <div id="footer">
      {% block footer %}
      <p id="legal">Copyright © 2005-2016 Entr'ouvert</p>
      {% endblock %}
      {% include 'includes/footer-logo.html' %}
    </div>
    </div>
    {% block footer-bottom %}{% endblock %}
   </footer>
   </div> <!-- #page -->
   {% if environment_label %}<span id="environment-label">{{ environment_label }}</span>{% endif %}
   <a style="display: none" href="#" accesskey="t">Retour en haut de page</a>
   {% include "includes/tracking.html" %}
   {% block body-bottom %}
   {% endblock %}
  </body>
</html>
